*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Baloo Tammudu 2', cursive;
}
nav{
    margin-top: 10px;  
}
.navegacion{
    
    margin: 10px auto;
    background:#bac94a;
    text-align: center;
    border-style: groove;
    
}
.navegacion ul{
    list-style: none;
    

}
.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li >a{
   
    display: flex;
    padding: 10px 20px;
    color: #fff;
    
    text-decoration: none;
}

.menu li a:hover{
    color: #ce7d35;
    transition: all .3s;

}
.submenu{
    position: absolute;
    background: #213502;
    width: 200%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.3s;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: #ffffff;
    
    text-decoration: none;
}
.menu li:hover .submenu{
    display: block;
    visibility: visible;
    opacity: 1;

}
.primero{
    display:inline-block;
}
aside{
    
    margin-left: 20%;
    position: relative;
    list-style: none;
    width: 155px;
    background-color: #7c744e
}

.tabla_filtro  li{
    position: relative;
    list-style: none;
}
.tabla_filtro > li {
    display: block;

    color: #fff;
    
    font-size: small;
    text-decoration: none;
    
}
.tabla_filtro li label:hover{
    color: #213502;
    transition: all .3s;
    
}

.primero{
    display: flex;
    color: black;
}
.clasificacion_filtro{
    
    text-align: center;
    background-color:#213502;
    
}
 
.produtoanddescription{
    
    text-align: justify;
    margin-left: 20%;
    margin-top: 100px;
}
.añadelo_compra>h1{
    font-weight: 200;
    text-align: center;
    
    font-size: 30px;
}
.linea{
    background-color: #213502;
    height: 5px;
    width: 100%;
    display: block;
}
