* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fservicio{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.sugerencias{
    text-align: justify;
}