* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    size: 100%;
    background: linear-gradient(150deg, #ff9898,  #cdf4ff, #93a4f9);
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
    
}

@keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
 
.cabecera1{
    padding: 0;
    margin: auto;

    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;

    padding-bottom: 0%;

    height: 20px;
    width: 100%;
    display: flex;
}
.cabecera-izq{
    flex: 10%;
    height: 30px;
    padding-top: 5px;
    padding-left: 30px;
 }
.cabecera-centro{
    flex: 30%;
    height: 30px;
    width: 300px;

    padding: 0;
    padding-top: 7px;

    font-size: 12px;
    text-align: center;
    color: #000;
    
}
.cabecera-der{
    flex: 60%;

    height: 30px;
    width: 350px;

    padding-top: 3px;
    padding-left: 60px;
    padding-bottom: 0;
    display: none;
    text-align: center;
}
nav{
    margin-top: 10px;  
}
.navegacion{
    
    display: flex;
    margin: 10px auto;
    background:#24ae63;
    text-align: center;
    
    
}

.menu {
    
    flex: 60%;
    padding: auto;
    padding-top: 55px;
    padding-right: 60px;
}
.navegacion ul{
    list-style: none;
    

}
.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li >a{
   
    display: block;
    padding: 10px 20px;
    color: #fff;
    
    text-decoration: none;
}

.menu li a:hover{
    color: #18683c;
    transition: all .3s;

}
.submenu{
    position: absolute;
    background: #509221;
    width: 200%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.3s;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: #ffffff;
    
    text-decoration: none;
}
.menu li:hover .submenu{
    display: block;
    visibility: visible;
    opacity: 1;

}

.logo-texto{
    flex: 20%;
    padding-left: 30px;
    padding-top: 10px;
    text-align: left;
}

.carrito{
    flex: 5%;
    height: 70px;
    width: 175px;
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 65px;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 10px;
    border: 0.2em;
    border-style: solid;
    border-color: #FFFFFF;
    color: #000000;
    font-size: small;
}

/*victor*/
.monsa {

background-color: #FFFFFF;

    height: 120px;
    width: 100%;

}

.certus { 

background-color: #000000;

color: #FFFFFF;    
text-align: center;
    padding-top: 5px ;
    height: 30px;
    width: 100%;

}

.info-contacto {
    color: #000;

    font-size: 15px;
    padding-top: 10px;   

}

.info-contacto p {
    text-align: center;
}

.botoncontactanos {
    
    text-align: center;  
    
    height: 20px;
    width: 100%;  
    
    padding: auto;
    padding-top: 10px;   

}

